<h2 class="sub-header">Commits for {{reponame}}</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Date</th>
			<th>Name (email)</th>
			<th>Message</th>
			<th>Shorthash (Hash)</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="commit in _commits">
			<td>{{commit.date * 1000 | date:'medium'}}</td>
			<td>{{commit.author_name}} ({{commit.author_email}})</td>
			<td>{{commit.message}}</td>
			<td>{{commit.short_hash}} ({{commit.hash}})</td>
		</tr>
		</tbody>
	</table>
</div>