# The path to the repository on which all git operations wil be performed
repo_dir=/home/alberto/data/repos/dev02

# The repository and branch against which every remote's head will be compared
prod_remote=test02
prod_branch=master

# Paths where the data will be output (inside the "data" directory by default)
#heads_dir=/paths/to/output/heads
#logs_dir=/paths/to/output/logs
#repo_info_dir=/paths/to/output/repo
